In [51]:
#Initally loading the file into memory and printing first 5 rows
import csv
fn ='Heating_Gas_Consumption.csv'
f = open(fn,'r')
reader = csv.reader(f)
n=0
for row in reader:
    print(row)
    n+=1
    if n > 5:
        break

['Development Name', 'Borough', 'Account Name', 'Location', 'Meter AMR', 'Meter Scope', 'TDS #', 'EDP', 'RC Code', 'Funding Source', 'AMP #', 'Vendor Name', 'UMIS BILL ID', 'Revenue Month', 'Service Start Date', 'Service End Date', '# days', 'Meter Number', 'Estimated', 'Current Charges', 'Rate Class', 'Bill Analyzed', 'Consumption (Therms)', 'ES Commodity', 'Underlying Utility']
['OCEAN BAY APARTMENTS (OCEANSIDE)', 'QUEENS', 'OCEAN BAY APARTMENTS (OCEANSIDE)', 'BLD 1', '', 'BACKUP GENERATOR', '51', '573', 'Q005100', 'FEDERAL', 'NY005010980P', 'National Grid LI', '12206094', '2023-01', '12/30/2022', '01/31/2023', '32', '4973285', 'N', '58.42', '250 Gas Non Resid General Use', 'Yes', '9', 'UTILITY GAS', 'NatGrid LI']
['MELROSE', 'BRONX', 'MELROSE', 'BLD 06', 'NONE', 'BLD 1-8', '28', '523', 'B002800', 'FEDERAL', 'NY005010280P', 'CONSOLIDATED EDISON COMPANY OF NY', '12204326', '2023-01', '12/23/2022', '01/25/2023', '33', '3890439', 'N', '121355.55', 'TRMDHDF', 'Yes', '106950', 'UTILITY GAS', 'ConEd']
['#N/A', 'NON DEVELOPMENT FACILITY', 'NDF - PSA 5, 221 EAST 123 ST', 'BLD 05', 'NONE', '', '#N/A', '999', '1011500', 'NON-DEVELOPMENT', '', 'CONSOLIDATED EDISON COMPANY OF NY', '12141969', '2023-01', '12/23/2022', '01/25/2023', '33', '3409056', 'Y', '1867.27', 'TR II NR', 'Yes', '1670', 'UTILITY GAS', 'ConEd']
['WEBSTER', 'BRONX', 'WEBSTER', 'BLD 04', 'NONE', 'BLD 1-5', '141', '231', 'B014100', 'FEDERAL', 'NY005011410P', 'CONSOLIDATED EDISON COMPANY OF NY', '12146442', '2023-01', '12/23/2022', '01/25/2023', '33', '3382738', 'N', '136273.15', 'TRMDHDF', 'Yes', '120186', 'UTILITY GAS', 'ConEd']
['FHA REPOSSESSED HOUSES (GROUP IX)', 'FHA', 'FHA REPOSSESSED HOUSES (GROUP IX)', '341 BERRIMAN STREET', 'AMR', '', '283', '376', 'Q028300', 'FEDERAL', 'NY005012090P', 'National Grid NYC', '12218362', '2023-01', '01/13/2023', '01/24/2023', '11', '115063', 'N', '503.59', 'T1B TRAN RES HEAT', 'Yes', '587', 'UTILITY GAS', 'NatGrid NYC']

In [52]:
#Total number of rows
import csv
fn ='Heating_Gas_Consumption.csv'
f = open(fn,'r')
reader = csv.reader(f)
n=0
for row in reader:
    if n % 1000000 == 0:
        print("Row:",n)
    n+=1
print("Total number of rows:",n)

Row: 0
Total number of rows: 230214

In [53]:
#Field names of the Dataset
import csv
fn ='Heating_Gas_Consumption.csv'
f = open(fn,'r')
reader = csv.reader(f)
for row in reader:
    print(row)
    break

['Development Name', 'Borough', 'Account Name', 'Location', 'Meter AMR', 'Meter Scope', 'TDS #', 'EDP', 'RC Code', 'Funding Source', 'AMP #', 'Vendor Name', 'UMIS BILL ID', 'Revenue Month', 'Service Start Date', 'Service End Date', '# days', 'Meter Number', 'Estimated', 'Current Charges', 'Rate Class', 'Bill Analyzed', 'Consumption (Therms)', 'ES Commodity', 'Underlying Utility']

In [9]:
#New subset csv file with cleaned data
import csv
import datetime
fn ='Heating_Gas_Consumption.csv'
f = open(fn,'r')
reader = csv.reader(f)
#n = 0
#clear destination file
with open('Subset_Heating_Gas_Consumption.csv','w') as f1:
    f1.write('')

with open('Subset_Heating_Gas_Consumption.csv','a') as f1:
    writer = csv.writer(f1, delimiter=',', lineterminator='\n')
    header = next(reader)
    writer.writerow(header)
    for i,row in enumerate(reader):
        dts=row[14]
        dte=row[15]

        #print(dt)
        try:
            dtstart=datetime.datetime.strptime(dts,'%m/%d/%Y')
            dtend=datetime.datetime.strptime(dte,'%m/%d/%Y')
        except Exception as e:
            pass
           
        #print(dtstart.year,dtend.year)
        if i > 0 and row[0] != '#N/A' and row[1] != 'FHA' and row[1] != 'NON DEVELOPMENT FACILITY' and row[1]!= 'STATEN ISLAND'and dtstart.year >= 2013 and dtend.year >= 2013:
            writer.writerow(row)
        i += 1
       # if i > 10:
        #    break'''

In [10]:
####IMPORTANT CODE#####

import pandas as pd

# Import dataset1
df1 = pd.read_csv('Subset_Heating_Gas_Consumption.csv')

# Import dataset2
bro = pd.read_csv('Bronx_new.csv')

In [11]:
# Drop unnecessary columns and rename any columns that need to be changed
df1.drop(columns=['Meter AMR', 'Meter Scope', 'TDS #','EDP', 'RC Code'], inplace=True)

In [12]:
df1

,Development Name,Borough,Account Name,Location,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,Service End Date,# days,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (Therms),ES Commodity,Underlying Utility
0,MELROSE,BRONX,MELROSE,BLD 06,FEDERAL,NY005010280P,CONSOLIDATED EDISON COMPANY OF NY,12204326,2023-01,12/23/2022,01/25/2023,33.0,3890439,N,121355.55,TRMDHDF,Yes,106950.0,UTILITY GAS,ConEd
1,WEBSTER,BRONX,WEBSTER,BLD 04,FEDERAL,NY005011410P,CONSOLIDATED EDISON COMPANY OF NY,12146442,2023-01,12/23/2022,01/25/2023,33.0,3382738,N,136273.15,TRMDHDF,Yes,120186.0,UTILITY GAS,ConEd
2,SACK WERN,BRONX,SACK WERN,BLD 01,FEDERAL,NY005012800P,CONSOLIDATED EDISON COMPANY OF NY,12142035,2023-01,12/23/2022,01/25/2023,33.0,3512698,N,9567.58,TR II NR,Yes,10168.0,UTILITY GAS,ConEd
3,O'DWYER GARDENS,BROOKLYN,ODWYER GARDENS,BLD 06,FEDERAL,NY005011720P,National Grid NYC,12202898,2023-01,12/27/2022,01/25/2023,29.0,5874469,Y,58455.15,T3 TRAN MULT FAM,Yes,109932.0,UTILITY GAS,NatGrid NYC
4,REHAB PROGRAM (DOUGLASS REHABS),MANHATTAN,REHAB PROGRAM (DOUGLASS REHABS),BLD 01,FEDERAL,NY005013170P,CONSOLIDATED EDISON COMPANY OF NY,12141922,2023-01,12/23/2022,01/25/2023,33.0,3521319,Y,453.16,TR I NR,Yes,536.0,UTILITY GAS,ConEd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152393,AMSTERDAM,MANHATTAN,AMSTERDAM,BLD 02,FEDERAL,NY005010220P,CONSOLIDATED EDISON COMPANY OF NY,3226407,2014-01,12/31/2013,01/24/2014,24.0,3513334,Y,76257.83,Trans Res MultiDwell Heat Dual,Yes,143700.0,UTILITY GAS,ConEd
152394,AMSTERDAM,MANHATTAN,AMSTERDAM,BLD 02,FEDERAL,NY005010220P,HESS CORPORATION (905243) - 2,3232612,2014-01,01/01/2014,01/24/2014,23.0,4.95E+14,N,66978.57,NaN,Yes,143700.0,BROKERED GAS,ConEd
152395,AMSTERDAM AVENUE,MANHATTAN,AMSTERDAM AVENUE,BLD 01,FEDERAL,NY005010820P,CONSOLIDATED EDISON COMPANY OF NY,3224819,2014-01,12/31/2013,01/24/2014,24.0,2545168,N,9255.68,Trans Res MultiDwell Heat Dual,Yes,16834.0,UTILITY GAS,ConEd
152396,AMSTERDAM AVENUE,MANHATTAN,AMSTERDAM AVENUE,BLD 01,FEDERAL,NY005010820P,HESS CORPORATION (905243) - 2,3232615,2014-01,01/01/2014,01/24/2014,23.0,4.95E+14,N,7846.33,NaN,Yes,16834.0,BROKERED GAS,ConEd
152397,ARMSTRONG I,BROOKLYN,ARMSTRONG I,BLD 02,FEDERAL,NY005012100P,National Grid NYC,3196274,2014-01,12/26/2013,01/27/2014,32.0,4624782,N,4539.15,T3 TRAN MULT FAM,Yes,16407.0,UTILITY GAS,NatGrid NYC

In [13]:
df1['Revenue Month']=pd.to_datetime(df1['Revenue Month'])

In [14]:
df1['Service Start Date']=pd.to_datetime(df1['Service Start Date'])

In [15]:
df1['Service End Date']=pd.to_datetime(df1['Service End Date'])

In [16]:
df1=df1.rename(columns={'Service End Date': 'DATE'})

In [17]:
df1['Revenue Month']

0        2023-01-01
1        2023-01-01
2        2023-01-01
3        2023-01-01
4        2023-01-01
            ...
152393   2014-01-01
152394   2014-01-01
152395   2014-01-01
152396   2014-01-01
152397   2014-01-01
Name: Revenue Month, Length: 152398, dtype: datetime64[ns]

In [18]:
# Drop unnecessary columns and rename any columns that need to be changed
bro.drop(columns=['ELEVATION', 'PRCP_ATTRIBUTES', 'SNOW_ATTRIBUTES','SNWD', 'SNWD_ATTRIBUTES', 'TOBS' , 'TOBS_ATTRIBUTES', 'WT01', 'WT01_ATTRIBUTES', 'WT04', 'WT04_ATTRIBUTES', 'WT06',  'WT06_ATTRIBUTES'], inplace=True)

bro

,STATION,NAME,LATITUDE,LONGITUDE,DATE,PRCP,SNOW,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,2019-03-25,0.00,0.0,NaN,NaN,NaN,NaN
1,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,2019-03-26,0.00,0.0,NaN,NaN,NaN,NaN
2,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,2019-03-27,0.00,0.0,NaN,NaN,NaN,NaN
3,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,2019-03-28,0.00,0.0,NaN,NaN,NaN,NaN
4,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,2019-03-29,0.00,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
292,USC00300961,"BRONX, NY US",40.837180,-73.849690,2013-08-30,0.00,NaN,84.0,",,7",69.0,",,7"
293,USC00300961,"BRONX, NY US",40.837180,-73.849690,2013-08-31,0.00,NaN,86.0,",,7",74.0,",,7"
294,USC00300961,"BRONX, NY US",40.837180,-73.849690,2014-02-01,0.00,0.0,45.0,",,7",35.0,",,7"
295,USC00300961,"BRONX, NY US",40.837180,-73.849690,2014-02-02,0.00,0.0,54.0,",,7",33.0,",,7"
296,USC00300961,"BRONX, NY US",40.837180,-73.849690,2014-02-03,0.95,7.4,43.0,",,7",28.0,",,7"

In [19]:
#changing to datetime
bro['DATE']=pd.to_datetime(bro['DATE'])

In [20]:
bro['DATE']

0     2019-03-25
1     2019-03-26
2     2019-03-27
3     2019-03-28
4     2019-03-29
         ...
292   2013-08-30
293   2013-08-31
294   2014-02-01
295   2014-02-02
296   2014-02-03
Name: DATE, Length: 297, dtype: datetime64[ns]

In [48]:

'''

#Combining the two files as CSV
import pandas as pd

# read the first dataset
df1 = pd.read_csv('Subset_Heating_Gas_Consumption.csv')

# read the second dataset
bro = pd.read_csv('Bronx.csv')

# merge the two datasets based on Borough and latitude/longitude
merged_df = pd.merge(df1, bro, left_on='Development Name', right_on='WT06_ATTRIBUTES')

# save the merged dataset as a new CSV file
merged_df.to_csv('Bronx_merged_dataset.csv', index=False)

'''

"\n\n#Combining the two files as CSV\nimport pandas as pd\n\n# read the first dataset\ndf1 = pd.read_csv('Subset_Heating_Gas_Consumption.csv')\n\n# read the second dataset\ndf2 = pd.read_csv('Bronx.csv')\n\n# merge the two datasets based on Borough and latitude/longitude\nmerged_df = pd.merge(df1, df2, left_on='Development Name', right_on='WT06_ATTRIBUTES')\n\n# save the merged dataset as a new CSV file\nmerged_df.to_csv('Bronx_merged_dataset.csv', index=False)\n\n"

In [21]:
df_Bronx=df1[df1['Borough']=='BRONX']
df_Bronx

,Development Name,Borough,Account Name,Location,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,DATE,# days,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (Therms),ES Commodity,Underlying Utility
0,MELROSE,BRONX,MELROSE,BLD 06,FEDERAL,NY005010280P,CONSOLIDATED EDISON COMPANY OF NY,12204326,2023-01-01,2022-12-23,2023-01-25,33.0,3890439,N,121355.55,TRMDHDF,Yes,106950.00,UTILITY GAS,ConEd
1,WEBSTER,BRONX,WEBSTER,BLD 04,FEDERAL,NY005011410P,CONSOLIDATED EDISON COMPANY OF NY,12146442,2023-01-01,2022-12-23,2023-01-25,33.0,3382738,N,136273.15,TRMDHDF,Yes,120186.00,UTILITY GAS,ConEd
2,SACK WERN,BRONX,SACK WERN,BLD 01,FEDERAL,NY005012800P,CONSOLIDATED EDISON COMPANY OF NY,12142035,2023-01-01,2022-12-23,2023-01-25,33.0,3512698,N,9567.58,TR II NR,Yes,10168.00,UTILITY GAS,ConEd
7,ADAMS,BRONX,ADAMS,BLD 04,FEDERAL,NY005001180P,CONSOLIDATED EDISON COMPANY OF NY,12202669,2023-01-01,2022-12-23,2023-01-25,33.0,3299599,N,184978.49,TRMDHDF,Yes,163401.00,UTILITY GAS,ConEd
8,SACK WERN,BRONX,SACK WERN,BLD 06,FEDERAL,NY005012800P,CONSOLIDATED EDISON COMPANY OF NY,12167263,2023-01-01,2022-12-23,2023-01-25,33.0,3492113,N,650.10,TR I NR,Yes,890.45,UTILITY GAS,ConEd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152379,CASTLE HILL,BRONX,CASTLE HILL,BLD 04,MIXED FINANCE/LLC1,NY005020800P,HESS CORPORATION (905243) - 2,3232327,2014-01-01,2014-01-01,2014-01-24,23.0,3.95E+14,N,85953.97,NaN,Yes,184411.00,BROKERED GAS,ConEd
152380,CASTLE HILL,BRONX,CASTLE HILL,BLD 04,MIXED FINANCE/LLC1,NY005020800P,CONSOLIDATED EDISON COMPANY OF NY,3226605,2014-01-01,2013-12-31,2014-01-24,24.0,3377623,Y,97758.69,Trans Res MultiDwell Heat Dual,Yes,184411.00,UTILITY GAS,ConEd
152384,BETANCES V,BRONX,BETANCES V,BLD 08,FEDERAL,NY005012110P,HESS CORPORATION (905243) - 2,3232400,2014-01-01,2014-01-01,2014-01-24,23.0,3.95E+14,NaN,0.00,NaN,Yes,0.00,BROKERED GAS,ConEd
152385,ADAMS,BRONX,ADAMS,BLD 04,FEDERAL,NY005001180P,CONSOLIDATED EDISON COMPANY OF NY,3226400,2014-01-01,2013-12-31,2014-01-24,24.0,3299599,Y,72006.89,Trans Res MultiDwell Heat Dual,Yes,135651.00,UTILITY GAS,ConEd
152386,ADAMS,BRONX,ADAMS,BLD 04,FEDERAL,NY005001180P,HESS CORPORATION (905243) - 2,3232335,2014-01-01,2014-01-01,2014-01-24,23.0,3.95E+14,N,63226.93,NaN,Yes,135651.00,BROKERED GAS,ConEd

In [22]:
df_Brooklyn=df1[df1['Borough']=='BROOKLYN']
df_Brooklyn

,Development Name,Borough,Account Name,Location,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,DATE,# days,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (Therms),ES Commodity,Underlying Utility
3,O'DWYER GARDENS,BROOKLYN,ODWYER GARDENS,BLD 06,FEDERAL,NY005011720P,National Grid NYC,12202898,2023-01-01,2022-12-27,2023-01-25,29.0,5874469,Y,58455.15,T3 TRAN MULT FAM,Yes,109932.00,UTILITY GAS,NatGrid NYC
5,EAST NEW YORK CITY LINE,BROOKLYN,EAST NEW YORK CITY LINE,BLD 24,FEDERAL,NY005010700P,National Grid NYC,12203369,2023-01-01,2022-12-27,2023-01-26,30.0,5593731,N,492.23,T3 TRAN MULT FAM,Exception,712.00,UTILITY GAS,NatGrid NYC
12,BUSHWICK II (GROUPS B & D),BROOKLYN,BUSHWICK II (GROUPS B & D),BLD 29,FEDERAL,NY005012470P,National Grid NYC,12203029,2023-01-01,2022-12-27,2023-01-26,30.0,6444112,N,775.81,T3 TRAN MULT FAM,Yes,1191.00,UTILITY GAS,NatGrid NYC
16,EAST NEW YORK CITY LINE,BROOKLYN,EAST NEW YORK CITY LINE,BLD 10,FEDERAL,NY005010700P,National Grid NYC,12203372,2023-01-01,2022-12-27,2023-01-26,30.0,5594418,N,541.06,T3 TRAN MULT FAM,Exception,789.00,UTILITY GAS,NatGrid NYC
18,303 VERNON AVENUE,BROOKLYN,VERNON AVENUE,BLD 01,FEDERAL,NY005010730P,National Grid NYC,12203063,2023-01-01,2022-12-27,2023-01-26,30.0,6738875,N,15188.90,T3 TRAN MULT FAM,Exception,28455.00,UTILITY GAS,NatGrid NYC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152387,ALBANY/ALBANY II,BROOKLYN,ALBANY/ALBANY II,ALBANY BLD 04,FEDERAL,NY005010310P,National Grid NYC,3196307,2014-01-01,2013-12-26,2014-01-27,32.0,08372362-66.8%,N,35247.43,T3 TRAN MULT FAM,Yes,130760.33,UTILITY GAS,NatGrid NYC
152388,ALBANY/ALBANY II,BROOKLYN,ALBANY/ALBANY II,ALBANY BLD 04,FEDERAL,NY005010310P,National Grid NYC,3196307,2014-01-01,2013-12-26,2014-01-27,32.0,08372362-33.2%,N,17518.18,T3 TRAN MULT FAM,Yes,64988.67,UTILITY GAS,NatGrid NYC
152389,ALBANY/ALBANY II,BROOKLYN,ALBANY/ALBANY II,ALBANY BLD 04,FEDERAL,NY005010310P,HESS CORPORATION (905243) - 2,3265846,2014-01-01,2013-12-27,2014-01-27,31.0,0298920000-66.8%,N,77736.47,NaN,Yes,132792.05,BROKERED GAS,NatGrid NYC
152390,ALBANY/ALBANY II,BROOKLYN,ALBANY/ALBANY II,ALBANY BLD 04,FEDERAL,NY005010310P,HESS CORPORATION (905243) - 2,3265846,2014-01-01,2013-12-27,2014-01-27,31.0,0298920000-33.2%,N,38635.49,NaN,Yes,65998.45,BROKERED GAS,NatGrid NYC
152397,ARMSTRONG I,BROOKLYN,ARMSTRONG I,BLD 02,FEDERAL,NY005012100P,National Grid NYC,3196274,2014-01-01,2013-12-26,2014-01-27,32.0,4624782,N,4539.15,T3 TRAN MULT FAM,Yes,16407.00,UTILITY GAS,NatGrid NYC

In [23]:
df_Manhattan=df1[df1['Borough']=='MANHATTAN']
df_Manhattan

,Development Name,Borough,Account Name,Location,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,DATE,# days,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (Therms),ES Commodity,Underlying Utility
4,REHAB PROGRAM (DOUGLASS REHABS),MANHATTAN,REHAB PROGRAM (DOUGLASS REHABS),BLD 01,FEDERAL,NY005013170P,CONSOLIDATED EDISON COMPANY OF NY,12141922,2023-01-01,2022-12-23,2023-01-25,33.0,3521319,Y,453.16,TR I NR,Yes,536.0,UTILITY GAS,ConEd
6,MELTZER TOWER,MANHATTAN,MELTZER TOWER,BLD 01,FEDERAL,NY005011000P,CONSOLIDATED EDISON COMPANY OF NY,12205336,2023-01-01,2022-05-24,2022-06-23,30.0,2543768,Y,6143.88,TRMDH,Yes,5980.0,UTILITY GAS,ConEd
9,SAMUEL (CITY),MANHATTAN,SAMUEL (CITY),BLD 35,MIXED FINANCE/LLC1,NY005023770P,CONSOLIDATED EDISON COMPANY OF NY,12206296,2023-01-01,2022-10-24,2022-11-22,29.0,3570932,Y,4825.63,TRMDH,Yes,3938.0,UTILITY GAS,ConEd
14,MELTZER TOWER,MANHATTAN,MELTZER TOWER,BLD 01,FEDERAL,NY005011000P,CONSOLIDATED EDISON COMPANY OF NY,12205320,2023-01-01,2022-06-23,2022-07-25,32.0,2543768,Y,5799.52,TRMDH,Yes,5561.0,UTILITY GAS,ConEd
15,SAMUEL (CITY),MANHATTAN,SAMUEL (CITY),BLD 35,MIXED FINANCE/LLC1,NY005023770P,CONSOLIDATED EDISON COMPANY OF NY,12215022,2023-01-01,2022-09-22,2022-10-24,32.0,3570932,Y,4392.98,TRMDH,Yes,4345.0,UTILITY GAS,ConEd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152392,ALLEN STREET,MANHATTAN,ALLEN STREET,BLD 01,FEDERAL,NY005011000P,HESS CORPORATION (905243) - 2,3232474,2014-01-01,2014-01-01,2014-01-24,23.0,4.95E+14,N,3334.48,NaN,Yes,7154.0,BROKERED GAS,ConEd
152393,AMSTERDAM,MANHATTAN,AMSTERDAM,BLD 02,FEDERAL,NY005010220P,CONSOLIDATED EDISON COMPANY OF NY,3226407,2014-01-01,2013-12-31,2014-01-24,24.0,3513334,Y,76257.83,Trans Res MultiDwell Heat Dual,Yes,143700.0,UTILITY GAS,ConEd
152394,AMSTERDAM,MANHATTAN,AMSTERDAM,BLD 02,FEDERAL,NY005010220P,HESS CORPORATION (905243) - 2,3232612,2014-01-01,2014-01-01,2014-01-24,23.0,4.95E+14,N,66978.57,NaN,Yes,143700.0,BROKERED GAS,ConEd
152395,AMSTERDAM AVENUE,MANHATTAN,AMSTERDAM AVENUE,BLD 01,FEDERAL,NY005010820P,CONSOLIDATED EDISON COMPANY OF NY,3224819,2014-01-01,2013-12-31,2014-01-24,24.0,2545168,N,9255.68,Trans Res MultiDwell Heat Dual,Yes,16834.0,UTILITY GAS,ConEd
152396,AMSTERDAM AVENUE,MANHATTAN,AMSTERDAM AVENUE,BLD 01,FEDERAL,NY005010820P,HESS CORPORATION (905243) - 2,3232615,2014-01-01,2014-01-01,2014-01-24,23.0,4.95E+14,N,7846.33,NaN,Yes,16834.0,BROKERED GAS,ConEd

In [24]:
df_Queens=df1[df1['Borough']=='QUEENS']
df_Queens

,Development Name,Borough,Account Name,Location,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,DATE,# days,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (Therms),ES Commodity,Underlying Utility
28,REHAB PROGRAM (COLLEGE POINT),QUEENS,REHAB PROGRAM (COLLEGE POINT),BLD 01,FEDERAL,NY005011860P,CONSOLIDATED EDISON COMPANY OF NY,12198334,2023-01-01,2022-12-23,2023-01-25,33.0,4213790,N,2050.98,TR II NR,Yes,1840.0,UTILITY GAS,ConEd
60,ASTORIA,QUEENS,ASTORIA,BLD 12,FEDERAL,NY005000260P,CONSOLIDATED EDISON COMPANY OF NY,12158078,2023-01-01,2022-12-23,2023-01-25,33.0,3979094,N,61.47,GS2,Yes,10.0,UTILITY GAS,ConEd
71,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),NaN,FEDERAL,NY005010980P,National Grid LI,12206023,2023-01-01,2022-12-30,2023-01-31,32.0,9827086,N,69.45,Rate 250 Gas Non Resid General,Yes,10.0,UTILITY GAS,NatGrid LI
79,QUEENSBRIDGE SOUTH,QUEENS,QUEENSBRIDGE SOUTH,BLD 23,FEDERAL,NY005000050P,CONSOLIDATED EDISON COMPANY OF NY,12199332,2023-01-01,2022-12-23,2023-01-25,33.0,2988768,N,87896.89,TRMDHDF,Yes,77263.0,UTILITY GAS,ConEd
114,ASTORIA,QUEENS,ASTORIA,BLD 21,FEDERAL,NY005000260P,CONSOLIDATED EDISON COMPANY OF NY,12158087,2023-01-01,2022-12-23,2023-01-25,33.0,3956556,N,64.06,GS2,Yes,10.0,UTILITY GAS,ConEd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152020,INTERNATIONAL TOWER,QUEENS,INTERNATIONAL TOWER,BLD 01,FEDERAL,NY005010910P,National Grid NYC,3196563,2014-01-01,2013-12-26,2014-01-27,32.0,5187416,N,3491.99,T3 TRAN MULT FAM,Yes,12516.0,UTILITY GAS,NatGrid NYC
152158,FOREST HILLS COOP (108TH STREET-62ND DRIVE),QUEENS,FOREST HILLS COOP (108TH STREET-62ND DRIVE),BLD 02,FEDERAL-COOP,NY005002000P,HESS CORPORATION (905243) - 2,3266005,2014-01-01,2013-12-27,2014-01-27,31.0,878910020,N,34794.01,NaN,Yes,59436.3,BROKERED GAS,NatGrid NYC
152159,FOREST HILLS COOP (108TH STREET-62ND DRIVE),QUEENS,FOREST HILLS COOP (108TH STREET-62ND DRIVE),BLD 02,FEDERAL-COOP,NY005002000P,National Grid NYC,3196556,2014-01-01,2013-12-26,2014-01-27,32.0,7461668,N,15863.03,T3 TRAN MULT FAM,Yes,58527.0,UTILITY GAS,NatGrid NYC
152301,CONLON LIHFE TOWER,QUEENS,CONLON LIHFE TOWER,BLD 01,FEDERAL,NY005010910P,HESS CORPORATION (905243) - 2,3266006,2014-01-01,2013-12-27,2014-01-27,31.0,1073072710,N,13592.52,NaN,Yes,23219.2,BROKERED GAS,NatGrid NYC
152302,CONLON LIHFE TOWER,QUEENS,CONLON LIHFE TOWER,BLD 01,FEDERAL,NY005010910P,National Grid NYC,3196558,2014-01-01,2013-12-26,2014-01-27,32.0,9520548,N,6276.91,T3 TRAN MULT FAM,Yes,22864.0,UTILITY GAS,NatGrid NYC

In [25]:
df_Bronx.dtypes

Development Name                object
Borough                         object
Account Name                    object
Location                        object
Funding Source                  object
AMP #                           object
Vendor Name                     object
UMIS BILL ID                     int64
Revenue Month           datetime64[ns]
Service Start Date      datetime64[ns]
DATE                    datetime64[ns]
# days                         float64
Meter Number                    object
Estimated                       object
Current Charges                float64
Rate Class                      object
Bill Analyzed                   object
Consumption (Therms)           float64
ES Commodity                    object
Underlying Utility              object
dtype: object

In [26]:
bronx=pd.merge(df_Bronx,bro,on='DATE',how='inner')

In [27]:
bronx

,Development Name,Borough,Account Name,Location,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,...,STATION,NAME,LATITUDE,LONGITUDE,PRCP,SNOW,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,CLAREMONT REHAB (GROUP 3),BRONX,CLAREMONT REHAB (GROUP 3),BLD 01,FEDERAL,NY005013080P,CONSOLIDATED EDISON COMPANY OF NY,8074088,2019-08-01,2019-05-23,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
1,CLAREMONT REHAB (GROUP 3),BRONX,CLAREMONT REHAB (GROUP 3),BLD 04,FEDERAL,NY005013080P,CONSOLIDATED EDISON COMPANY OF NY,8085929,2019-08-01,2019-05-23,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
2,CLAREMONT REHAB (GROUP 4),BRONX,CLAREMONT REHAB (GROUP 4),BLD 08,FEDERAL,NY005013080P,CONSOLIDATED EDISON COMPANY OF NY,8085941,2019-08-01,2019-05-23,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
3,CLAREMONT REHAB (GROUP 3),BRONX,CLAREMONT REHAB (GROUP 3),BLD 01,FEDERAL,NY005013080P,EAST COAST POWER & GAS,8201479,2019-08-01,2019-05-23,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
4,CLAREMONT REHAB (GROUP 3),BRONX,CLAREMONT REHAB (GROUP 3),BLD 04,FEDERAL,NY005013080P,EAST COAST POWER & GAS,8201482,2019-08-01,2019-05-23,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,HIGHBRIDGE GARDENS,BRONX,HIGHBRIDGE GARDENS,BLD 06,FEDERAL,NY005000780P,EAST COAST POWER & GAS,8048530,2019-03-01,2019-02-25,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
1257,HOE AVENUE-EAST 173RD STREET,BRONX,HOE AVENUE-EAST 173RD STREET,BLD 01,FEDERAL,NY005015300P,EAST COAST POWER & GAS,7869702,2019-03-01,2019-02-25,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
1258,HOE AVENUE-EAST 173RD STREET,BRONX,HOE AVENUE-EAST 173RD STREET,BLD 01,FEDERAL,NY005015300P,EAST COAST POWER & GAS,7869703,2019-03-01,2019-02-25,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
1259,HUNTS POINT AVENUE REHAB,BRONX,HUNTS POINT AVENUE REHAB,BLD 02,FEDERAL,NY005015300P,EAST COAST POWER & GAS,7912324,2019-03-01,2019-02-25,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
1260,HUNTS POINT AVENUE REHAB,BRONX,HUNTS POINT AVENUE REHAB,BLD 02,FEDERAL,NY005015300P,EAST COAST POWER & GAS,8048533,2019-03-01,2019-02-25,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN

In [28]:
bronx=bronx.rename(columns={'Development Name': 'Development_Name', 'Borough': 'Borough', 'Account Name': 'Account_Name',
 'Location': 'Location', 'Funding Source': 'Funding_Source', 'AMP #': 'AMP_Number', 'Vendor Name': 'Vendor_Name', 'UMIS BILL ID': 'UMIS_BILL_ID',
 'Revenue Month': 'Revenue_Month' , 'Service Start Date': 'Service_Start_Date', 'DATE': 'DATE', '# days':'Number_of_days', 'Meter Number': 'Meter_Number', 'Estimated': 'Estimated', 
 'Current Charges': 'Current_Charges', 'Rate Class': 'Rate_Class', 'Bill Analyzed': 'Bill_Analyzed', 'Consumption (Therms)': 'Consumption_Therms', 'ES Commodity': 'ES_Commodity',
 'Underlying Utility': 'Underlying_Utility', 'STATION': 'STATION', 'NAME': 'NAME', 'LATITUDE': 'LATITUDE', 'LONGITUDE': 'LONGITUDE', 'PRCP': 'PRCP', 'SNOW': 'SNOW',
 'TMAX': 'TMAX', 'TMAX_ATTRIBUTES': 'TMAX_ATTRIBUTES', 'TMIN': 'TMIN', 'TMIN_ATTRIBUTES': 'TMIN_ATTRIBUTES'
})

bronx

,Development_Name,Borough,Account_Name,Location,Funding_Source,AMP_Number,Vendor_Name,UMIS_BILL_ID,Revenue_Month,Service_Start_Date,...,STATION,NAME,LATITUDE,LONGITUDE,PRCP,SNOW,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,CLAREMONT REHAB (GROUP 3),BRONX,CLAREMONT REHAB (GROUP 3),BLD 01,FEDERAL,NY005013080P,CONSOLIDATED EDISON COMPANY OF NY,8074088,2019-08-01,2019-05-23,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
1,CLAREMONT REHAB (GROUP 3),BRONX,CLAREMONT REHAB (GROUP 3),BLD 04,FEDERAL,NY005013080P,CONSOLIDATED EDISON COMPANY OF NY,8085929,2019-08-01,2019-05-23,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
2,CLAREMONT REHAB (GROUP 4),BRONX,CLAREMONT REHAB (GROUP 4),BLD 08,FEDERAL,NY005013080P,CONSOLIDATED EDISON COMPANY OF NY,8085941,2019-08-01,2019-05-23,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
3,CLAREMONT REHAB (GROUP 3),BRONX,CLAREMONT REHAB (GROUP 3),BLD 01,FEDERAL,NY005013080P,EAST COAST POWER & GAS,8201479,2019-08-01,2019-05-23,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
4,CLAREMONT REHAB (GROUP 3),BRONX,CLAREMONT REHAB (GROUP 3),BLD 04,FEDERAL,NY005013080P,EAST COAST POWER & GAS,8201482,2019-08-01,2019-05-23,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,HIGHBRIDGE GARDENS,BRONX,HIGHBRIDGE GARDENS,BLD 06,FEDERAL,NY005000780P,EAST COAST POWER & GAS,8048530,2019-03-01,2019-02-25,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
1257,HOE AVENUE-EAST 173RD STREET,BRONX,HOE AVENUE-EAST 173RD STREET,BLD 01,FEDERAL,NY005015300P,EAST COAST POWER & GAS,7869702,2019-03-01,2019-02-25,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
1258,HOE AVENUE-EAST 173RD STREET,BRONX,HOE AVENUE-EAST 173RD STREET,BLD 01,FEDERAL,NY005015300P,EAST COAST POWER & GAS,7869703,2019-03-01,2019-02-25,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
1259,HUNTS POINT AVENUE REHAB,BRONX,HUNTS POINT AVENUE REHAB,BLD 02,FEDERAL,NY005015300P,EAST COAST POWER & GAS,7912324,2019-03-01,2019-02-25,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN
1260,HUNTS POINT AVENUE REHAB,BRONX,HUNTS POINT AVENUE REHAB,BLD 02,FEDERAL,NY005015300P,EAST COAST POWER & GAS,8048533,2019-03-01,2019-02-25,...,US1NYBX0025,"BRONX 1.5 NE, NY US",40.859856,-73.845694,0.0,0.0,NaN,NaN,NaN,NaN

In [29]:
bronx.to_csv('bronx_merged.csv', index=False)

In [121]:
#Inserting the merged data of bronx into the database(ETL)
import csv
import pymysql
import time
import datetime
with open('bronx_merged.csv',"r",encoding='Latin-1') as f:
    data = [{k: str(v) for k, v in row.items()}
        for row in csv.DictReader(f,skipinitialspace=True)]
#print(data[0].keys())
#print(len(data[0]))

conn = pymysql.connect(host='mysql.clarksonmsda.org', port=3306, user='ia626',
                        passwd='ia626clarkson', db='ia626', autocommit=True)
cur = conn.cursor(pymysql.cursors.DictCursor)

#Dropping the table if it exist
sql = '''DROP TABLE IF EXISTS `Heating_gas_bronx`;'''
cur.execute(sql)

#Creating the table and normalizing the column names with appropriate field types
sql = '''CREATE TABLE IF NOT EXISTS `Heating_gas_bronx` (
  `id` int(7) NOT NULL AUTO_INCREMENT,
  `Development_Name` varchar(50) NOT NULL,
  `Borough` varchar(50) NOT NULL,
  `Account_Name` varchar(50) NOT NULL,
  `Location` varchar(50) NOT NULL,
  `Funding_Source` varchar(50) NOT NULL,
  `AMP_Number` varchar(50) NOT NULL,
  `Vendor_Name` varchar(50) NOT NULL,
  `UMIS_BILL_ID` varchar(50) NOT NULL,
  `Revenue_Month` datetime NOT NULL,
  `Service_Start_Date` datetime NOT NULL,
  `Date` datetime NOT NULL,
  `Number_of_days` int(10) NOT NULL,
  `Meter_Number` varchar(50) NOT NULL,
  `Estimated` varchar(10) NOT NULL,
  `Current_Charges` decimal(18,12) NOT NULL,
  `Rate_Class` varchar(50) NOT NULL,
  `Bill_Analyzed` varchar(50) NOT NULL,
  `Consumption_Therms` decimal(18,12) NOT NULL,
  `ES_Commodity` varchar(50) NOT NULL,
  `Underlying_Utility` varchar(50) NOT NULL,
  `STATION` varchar(50) NOT NULL,
  `NAME` varchar(50) NOT NULL,
  `LATITUDE` decimal(18,12) NOT NULL,
  `LONGITUDE` decimal(18,12) NOT NULL,
  `PRCP` decimal(18,12) NOT NULL,
  `SNOW` decimal(18,12) NOT NULL,
  `TMAX` decimal(18,12) NOT NULL,
  `TMAX_ATTRIBUTES` varchar(50) NOT NULL,
  `TMIN` decimal(18,12) NOT NULL,
  `TMIN_ATTRIBUTES` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 AUTO_INCREMENT=1 ;'''
cur.execute(sql)

sql = '''INSERT INTO `Heating_gas_bronx` (`Development_Name`, `Borough`, `Account_Name`,
 `Location`, `Funding_Source`, `AMP_Number`, `Vendor_Name`, `UMIS_BILL_ID`,
 `Revenue_Month`, `Service_Start_Date`, `DATE`, `Number_of_days`, `Meter_Number`, `Estimated`, 
 `Current_Charges`, `Rate_Class`, `Bill_Analyzed`, `Consumption_Therms`, `ES_Commodity`,
 `Underlying_Utility`, `STATION`, `NAME`, `LATITUDE`, `LONGITUDE`, `PRCP`, `SNOW`,
 `TMAX`, `TMAX_ATTRIBUTES`, `TMIN`, `TMIN_ATTRIBUTES`) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);'''

n=0
bs = 500
tokens=[]
for row in data:
  tokens.append([row['Development_Name'],row['Borough'],row['Account_Name'],row['Location'],
            row['Funding_Source'],row['AMP_Number'],row['Vendor_Name'],row['UMIS_BILL_ID'],
            row['Revenue_Month'],row['Service_Start_Date'],row['DATE'],row['Number_of_days'],
            row['Meter_Number'],row['Estimated'],row['Current_Charges'],row['Rate_Class'],
            row['Bill_Analyzed'],row['Consumption_Therms'],row['ES_Commodity'], row['Underlying_Utility'],
            row['STATION'],row['NAME'],row['LATITUDE'],row['LONGITUDE'],row['PRCP'],row['SNOW'],row['TMAX'],
            row['TMAX_ATTRIBUTES'],row['TMIN'],row['TMIN_ATTRIBUTES']])
    #print(tokens)
  if len(tokens) >= bs:
      cur.executemany(sql,tokens)
      conn.commit()
      tokens = []
  n+=1
if len(tokens) > 0:
    cur.executemany(sql,tokens)  #Uploading all rows into the sql
    conn.commit()

In [30]:
#Loading brooklyn data into df3 and cleaning the data as there are double quotes all over the dataset
DF3 = pd.read_csv('Brooklyn.csv',low_memory=False)
DF3 = DF3.replace('"', '', regex=True)
DF3.columns = DF3.columns.str.strip()
DF3

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,DAPR,DAPR_ATTRIBUTES,...,WT15,WT15_ATTRIBUTES,WT16,WT16_ATTRIBUTES,WT18,WT18_ATTRIBUTES,WT19,WT19_ATTRIBUTES,WT22,WT22_ATTRIBUTES
0,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US ...",40.852624,-74.087451,52.1,2022-04-05,,,,,...,,,,,,,,,,NaN
1,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US ...",40.852624,-74.087451,52.1,2022-04-06,,,,,...,,,,,,,,,,NaN
2,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US ...",40.852624,-74.087451,52.1,2022-04-07,,,,,...,,,,,,,,,,NaN
3,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US ...",40.852624,-74.087451,52.1,2022-04-08,,,,,...,,,,,,,,,,NaN
4,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US ...",40.852624,-74.087451,52.1,2022-04-09,,,,,...,,,,,,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62474,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US ...",40.639150,-73.763900,2.7,2023-04-09,9.84,",,W",,,...,,,,,,,,,,NaN
62475,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US ...",40.639150,-73.763900,2.7,2023-04-10,11.63,",,W",,,...,,,,,,,,,,NaN
62476,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US ...",40.639150,-73.763900,2.7,2023-04-11,14.32,",,W",,,...,,,,,,,,,,NaN
62477,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US ...",40.639150,-73.763900,2.7,2023-04-12,12.97,",,W",,,...,,,,,,,,,,NaN
62478,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US ...",40.639150,-73.763900,2.7,2023-04-13,11.18,",,W",,,...,,,,,,,,,,NaN

In [31]:
DF4 = DF3.drop(['AWND', 'AWND_ATTRIBUTES', 'DAPR', 'DAPR_ATTRIBUTES', 'MDPR', 'MDPR_ATTRIBUTES',
                  'PGTM', 'PGTM_ATTRIBUTES', 'PSUN', 'PSUN_ATTRIBUTES', 'SNOW_ATTRIBUTES', 'SNWD',
                  'SNWD_ATTRIBUTES', 'TAVG', 'TAVG_ATTRIBUTES', 'TOBS', 'TOBS_ATTRIBUTES', 'TSUN',
                  'TSUN_ATTRIBUTES', 'WDF2', 'WDF2_ATTRIBUTES', 'WDF5', 'WDF5_ATTRIBUTES', 'WESD',
                  'WESD_ATTRIBUTES', 'WESF', 'WESF_ATTRIBUTES', 'WSF2', 'WSF2_ATTRIBUTES', 'WSF5',
                  'WSF5_ATTRIBUTES', 'WT01', 'WT01_ATTRIBUTES', 'WT02', 'WT02_ATTRIBUTES', 'WT03',
                  'WT03_ATTRIBUTES', 'WT04', 'WT04_ATTRIBUTES', 'WT05', 'WT05_ATTRIBUTES', 'WT06',
                  'WT06_ATTRIBUTES', 'WT08', 'WT08_ATTRIBUTES', 'WT09', 'WT09_ATTRIBUTES', 'WT11',
                  'WT11_ATTRIBUTES', 'WT13', 'WT13_ATTRIBUTES', 'WT14', 'WT14_ATTRIBUTES', 'WT15',
                  'WT15_ATTRIBUTES', 'WT16', 'WT16_ATTRIBUTES', 'WT18', 'WT18_ATTRIBUTES', 'WT19',
                  'WT19_ATTRIBUTES', 'WT22', 'WT22_ATTRIBUTES'], axis=1)

DF4

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US ...",40.852624,-74.087451,52.1,2022-04-05,0.00,",,N",0.0,,,,
1,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US ...",40.852624,-74.087451,52.1,2022-04-06,0.36,",,N",,,,,
2,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US ...",40.852624,-74.087451,52.1,2022-04-07,0.20,",,N",,,,,
3,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US ...",40.852624,-74.087451,52.1,2022-04-08,1.94,",,N",,,,,
4,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US ...",40.852624,-74.087451,52.1,2022-04-09,0.00,"T,,N",,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62474,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US ...",40.639150,-73.763900,2.7,2023-04-09,0.00,",,W,2400",0.0,51,",,W",38,",,W"
62475,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US ...",40.639150,-73.763900,2.7,2023-04-10,0.00,",,W,2400",0.0,58,",,W",38,",,W"
62476,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US ...",40.639150,-73.763900,2.7,2023-04-11,0.00,",,W,2400",0.0,73,",,W",45,",,W"
62477,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US ...",40.639150,-73.763900,2.7,2023-04-12,0.00,",,W,2400",0.0,84,",,W",56,",,W"
62478,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US ...",40.639150,-73.763900,2.7,2023-04-13,0.00,",,W,2400",0.0,85,",,W",53,",,W"

In [32]:
DF4['DATE']=pd.to_datetime(DF4['DATE'])

In [33]:
Brooklyn = pd.merge(df_Brooklyn,DF4,on='DATE',how='inner')
Brooklyn

,Development Name,Borough,Account Name,Location,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,...,LATITUDE,LONGITUDE,ELEVATION,PRCP,PRCP_ATTRIBUTES,SNOW,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,O'DWYER GARDENS,BROOKLYN,ODWYER GARDENS,BLD 06,FEDERAL,NY005011720P,National Grid NYC,12202898,2023-01-01,2022-12-27,...,40.852624,-74.087451,52.1,0.00,"T,,N",,,,,
1,O'DWYER GARDENS,BROOKLYN,ODWYER GARDENS,BLD 06,FEDERAL,NY005011720P,National Grid NYC,12202898,2023-01-01,2022-12-27,...,40.797000,-74.055720,16.5,0.10,",,N",,,,,
2,O'DWYER GARDENS,BROOKLYN,ODWYER GARDENS,BLD 06,FEDERAL,NY005011720P,National Grid NYC,12202898,2023-01-01,2022-12-27,...,40.791300,-74.060280,3.4,0.00,",,N",0.0,,,,
3,O'DWYER GARDENS,BROOKLYN,ODWYER GARDENS,BLD 06,FEDERAL,NY005011720P,National Grid NYC,12202898,2023-01-01,2022-12-27,...,40.684600,-73.986700,5.5,0.00,",,N",0.0,,,,
4,O'DWYER GARDENS,BROOKLYN,ODWYER GARDENS,BLD 06,FEDERAL,NY005011720P,National Grid NYC,12202898,2023-01-01,2022-12-27,...,40.662099,-73.841345,2.1,0.00,",,N",0.0,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076588,FENIMORE-LEFFERTS,BROOKLYN,FENIMORE-LEFFERTS,BLD 14,FEDERAL,NY005011670P,National Grid NYC,3196679,2014-01-01,2013-12-26,...,40.778980,-73.969250,42.7,0.04,",,W,2400",0.8,23,",,W",14,",,W"
1076589,FENIMORE-LEFFERTS,BROOKLYN,FENIMORE-LEFFERTS,BLD 14,FEDERAL,NY005011670P,National Grid NYC,3196679,2014-01-01,2013-12-26,...,40.714521,-73.881893,32.3,0.03,",,N",0.6,,,,
1076590,FENIMORE-LEFFERTS,BROOKLYN,FENIMORE-LEFFERTS,BLD 14,FEDERAL,NY005011670P,National Grid NYC,3196679,2014-01-01,2013-12-26,...,40.858980,-74.056160,0.8,0.05,",,W",,26,",,W",14,",,W"
1076591,FENIMORE-LEFFERTS,BROOKLYN,FENIMORE-LEFFERTS,BLD 14,FEDERAL,NY005011670P,National Grid NYC,3196679,2014-01-01,2013-12-26,...,40.724466,-74.259542,72.5,0.03,",,N",0.2,,,,
1076592,FENIMORE-LEFFERTS,BROOKLYN,FENIMORE-LEFFERTS,BLD 14,FEDERAL,NY005011670P,National Grid NYC,3196679,2014-01-01,2013-12-26,...,40.639150,-73.763900,2.7,0.05,",,W,2400",1.0,24,",,W",16,",,W"

In [34]:
Brooklyn = Brooklyn.rename(columns={'Development Name': 'Development_Name', 'Borough': 'Borough', 'Account Name': 'Account_Name',
 'Location': 'Location', 'Funding Source': 'Funding_Source', 'AMP #': 'AMP_Number', 'Vendor Name': 'Vendor_Name', 'UMIS BILL ID': 'UMIS_BILL_ID',
 'Revenue Month': 'Revenue_Month' , 'Service Start Date': 'Service_Start_Date', 'DATE': 'DATE', '# days':'Number_of_days', 'Meter Number': 'Meter_Number', 'Estimated': 'Estimated', 
 'Current Charges': 'Current_Charges', 'Rate Class': 'Rate_Class', 'Bill Analyzed': 'Bill_Analyzed', 'Consumption (Therms)': 'Consumption_Therms', 'ES Commodity': 'ES_Commodity',
 'Underlying Utility': 'Underlying_Utility', 'STATION': 'STATION', 'NAME': 'NAME', 'LATITUDE': 'LATITUDE', 'LONGITUDE': 'LONGITUDE', 'ELEVATION': 'ELEVATION', 'PRCP': 'PRCP', 'PRCP_ATTRIBUTES':'PRCP_ATTRIBUTES','SNOW': 'SNOW',
 'TMAX': 'TMAX', 'TMAX_ATTRIBUTES': 'TMAX_ATTRIBUTES', 'TMIN': 'TMIN', 'TMIN_ATTRIBUTES': 'TMIN_ATTRIBUTES'
})

Brooklyn

,Development_Name,Borough,Account_Name,Location,Funding_Source,AMP_Number,Vendor_Name,UMIS_BILL_ID,Revenue_Month,Service_Start_Date,...,LATITUDE,LONGITUDE,ELEVATION,PRCP,PRCP_ATTRIBUTES,SNOW,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,O'DWYER GARDENS,BROOKLYN,ODWYER GARDENS,BLD 06,FEDERAL,NY005011720P,National Grid NYC,12202898,2023-01-01,2022-12-27,...,40.852624,-74.087451,52.1,0.00,"T,,N",,,,,
1,O'DWYER GARDENS,BROOKLYN,ODWYER GARDENS,BLD 06,FEDERAL,NY005011720P,National Grid NYC,12202898,2023-01-01,2022-12-27,...,40.797000,-74.055720,16.5,0.10,",,N",,,,,
2,O'DWYER GARDENS,BROOKLYN,ODWYER GARDENS,BLD 06,FEDERAL,NY005011720P,National Grid NYC,12202898,2023-01-01,2022-12-27,...,40.791300,-74.060280,3.4,0.00,",,N",0.0,,,,
3,O'DWYER GARDENS,BROOKLYN,ODWYER GARDENS,BLD 06,FEDERAL,NY005011720P,National Grid NYC,12202898,2023-01-01,2022-12-27,...,40.684600,-73.986700,5.5,0.00,",,N",0.0,,,,
4,O'DWYER GARDENS,BROOKLYN,ODWYER GARDENS,BLD 06,FEDERAL,NY005011720P,National Grid NYC,12202898,2023-01-01,2022-12-27,...,40.662099,-73.841345,2.1,0.00,",,N",0.0,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076588,FENIMORE-LEFFERTS,BROOKLYN,FENIMORE-LEFFERTS,BLD 14,FEDERAL,NY005011670P,National Grid NYC,3196679,2014-01-01,2013-12-26,...,40.778980,-73.969250,42.7,0.04,",,W,2400",0.8,23,",,W",14,",,W"
1076589,FENIMORE-LEFFERTS,BROOKLYN,FENIMORE-LEFFERTS,BLD 14,FEDERAL,NY005011670P,National Grid NYC,3196679,2014-01-01,2013-12-26,...,40.714521,-73.881893,32.3,0.03,",,N",0.6,,,,
1076590,FENIMORE-LEFFERTS,BROOKLYN,FENIMORE-LEFFERTS,BLD 14,FEDERAL,NY005011670P,National Grid NYC,3196679,2014-01-01,2013-12-26,...,40.858980,-74.056160,0.8,0.05,",,W",,26,",,W",14,",,W"
1076591,FENIMORE-LEFFERTS,BROOKLYN,FENIMORE-LEFFERTS,BLD 14,FEDERAL,NY005011670P,National Grid NYC,3196679,2014-01-01,2013-12-26,...,40.724466,-74.259542,72.5,0.03,",,N",0.2,,,,
1076592,FENIMORE-LEFFERTS,BROOKLYN,FENIMORE-LEFFERTS,BLD 14,FEDERAL,NY005011670P,National Grid NYC,3196679,2014-01-01,2013-12-26,...,40.639150,-73.763900,2.7,0.05,",,W,2400",1.0,24,",,W",16,",,W"

In [35]:
Brooklyn.to_csv('brooklyn_merged.csv', index=False)

In [ ]:
#### the code below takes huge time to execute

# It took 9 min to load table into database

In [143]:
#Inserting the merged data of brooklyn into the database(ETL)
import csv
import pymysql
import time
import datetime
with open('brooklyn_merged.csv',"r",encoding='Latin-1') as f:
    data = [{k: str(v) for k, v in row.items()}
        for row in csv.DictReader(f,skipinitialspace=True)]
#print(data[0].keys())
#print(len(data[0]))

conn = pymysql.connect(host='mysql.clarksonmsda.org', port=3306, user='ia626',
                        passwd='ia626clarkson', db='ia626', autocommit=True)
cur = conn.cursor(pymysql.cursors.DictCursor)

#Dropping the table if it exist
sql = '''DROP TABLE IF EXISTS `Heating_gas_brooklyn`;'''
cur.execute(sql)

#Creating the table and normalizing the column names with appropriate field types
sql = '''CREATE TABLE IF NOT EXISTS `Heating_gas_brooklyn` (
  `id` int(7) NOT NULL AUTO_INCREMENT,
  `Development_Name` varchar(50) NOT NULL,
  `Borough` varchar(50) NOT NULL,
  `Account_Name` varchar(50) NOT NULL,
  `Location` varchar(50) NOT NULL,
  `Funding_Source` varchar(50) NOT NULL,
  `AMP_Number` varchar(50) NOT NULL,
  `Vendor_Name` varchar(50) NOT NULL,
  `UMIS_BILL_ID` varchar(50) NOT NULL,
  `Revenue_Month` datetime NOT NULL,
  `Service_Start_Date` datetime NOT NULL,
  `Date` datetime NOT NULL,
  `Number_of_days` int(10) NOT NULL,
  `Meter_Number` varchar(50) NOT NULL,
  `Estimated` varchar(10) NOT NULL,
  `Current_Charges` decimal(18,12) NOT NULL,
  `Rate_Class` varchar(50) NOT NULL,
  `Bill_Analyzed` varchar(50) NOT NULL,
  `Consumption_Therms` decimal(18,12) NOT NULL,
  `ES_Commodity` varchar(50) NOT NULL,
  `Underlying_Utility` varchar(50) NOT NULL,
  `STATION` varchar(50) NOT NULL,
  `NAME` varchar(50) NOT NULL,
  `LATITUDE` decimal(18,12) NOT NULL,
  `LONGITUDE` decimal(18,12) NOT NULL,
  `ELEVATION` decimal(8,4) NOT NULL,
  `PRCP` decimal(18,12) NOT NULL,
  `PRCP_ATTRIBUTES` varchar(50) NOT NULL,
  `SNOW` decimal(18,12) NOT NULL,
  `TMAX` decimal(18,12) NOT NULL,
  `TMAX_ATTRIBUTES` varchar(50) NOT NULL,
  `TMIN` decimal(18,12) NOT NULL,
  `TMIN_ATTRIBUTES` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 AUTO_INCREMENT=1 ;'''
cur.execute(sql)

sql = '''INSERT INTO `Heating_gas_brooklyn` (`Development_Name`, `Borough`, `Account_Name`,
 `Location`, `Funding_Source`, `AMP_Number`, `Vendor_Name`, `UMIS_BILL_ID`,
 `Revenue_Month`, `Service_Start_Date`, `DATE`, `Number_of_days`, `Meter_Number`, `Estimated`, 
 `Current_Charges`, `Rate_Class`, `Bill_Analyzed`, `Consumption_Therms`, `ES_Commodity`,
 `Underlying_Utility`, `STATION`, `NAME`, `LATITUDE`, `LONGITUDE`, `ELEVATION`, `PRCP`, `PRCP_ATTRIBUTES`, `SNOW`,
 `TMAX`, `TMAX_ATTRIBUTES`, `TMIN`, `TMIN_ATTRIBUTES`) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);'''

n=0
bs = 500
tokens=[]
for row in data:
  tokens.append([row['Development_Name'],row['Borough'],row['Account_Name'],row['Location'],
            row['Funding_Source'],row['AMP_Number'],row['Vendor_Name'],row['UMIS_BILL_ID'],
            row['Revenue_Month'],row['Service_Start_Date'],row['DATE'],row['Number_of_days'],
            row['Meter_Number'],row['Estimated'],row['Current_Charges'],row['Rate_Class'],
            row['Bill_Analyzed'],row['Consumption_Therms'],row['ES_Commodity'], row['Underlying_Utility'],
            row['STATION'],row['NAME'],row['LATITUDE'],row['LONGITUDE'],row['ELEVATION'],row['PRCP'],row['PRCP_ATTRIBUTES'],row['SNOW'],row['TMAX'],
            row['TMAX_ATTRIBUTES'],row['TMIN'],row['TMIN_ATTRIBUTES']])
    #print(tokens)
  if len(tokens) >= bs:
      cur.executemany(sql,tokens)
      conn.commit()
      tokens = []
  n+=1
if len(tokens) > 0:
    cur.executemany(sql,tokens)  #Uploading all rows into the sql
    conn.commit()

In [36]:
#Loading Manhattan data into manh and cleaning the data as there are double quotes all over the dataset
import pandas as pd
manh = pd.read_csv('Manhattan.csv',low_memory=False)
manh = manh.replace('"', '', regex=True)
manh.columns = manh.columns.str.strip()
manh

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,DAPR,DAPR_ATTRIBUTES,...,WT16,WT16_ATTRIBUTES,WT17,WT17_ATTRIBUTES,WT18,WT18_ATTRIBUTES,WT19,WT19_ATTRIBUTES,WT22,WT22_ATTRIBUTES
0,US1KSPT0034,"MANHATTAN 4.2 ENE, KS US",39.203079,-96.514336,313.0,2016-10-06,,,,,...,,,,,,,,,,NaN
1,US1KSPT0034,"MANHATTAN 4.2 ENE, KS US",39.203079,-96.514336,313.0,2016-10-07,,,,,...,,,,,,,,,,NaN
2,US1KSPT0034,"MANHATTAN 4.2 ENE, KS US",39.203079,-96.514336,313.0,2016-10-08,,,,,...,,,,,,,,,,NaN
3,US1KSPT0034,"MANHATTAN 4.2 ENE, KS US",39.203079,-96.514336,313.0,2016-10-09,,,,,...,,,,,,,,,,NaN
4,US1KSPT0034,"MANHATTAN 4.2 ENE, KS US",39.203079,-96.514336,313.0,2016-10-10,,,,,...,,,,,,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65307,USW00053974,"MANHATTAN 6 SSW, KS US",39.102700,-96.609800,346.6,2023-04-08,,,,,...,,,,,,,,,,NaN
65308,USW00053974,"MANHATTAN 6 SSW, KS US",39.102700,-96.609800,346.6,2023-04-09,,,,,...,,,,,,,,,,NaN
65309,USW00053974,"MANHATTAN 6 SSW, KS US",39.102700,-96.609800,346.6,2023-04-10,,,,,...,,,,,,,,,,NaN
65310,USW00053974,"MANHATTAN 6 SSW, KS US",39.102700,-96.609800,346.6,2023-04-11,,,,,...,,,,,,,,,,NaN
65311,USW00053974,"MANHATTAN 6 SSW, KS US",39.102700,-96.609800,346.6,2023-04-12,,,,,...,,,,,,,,,,NaN

In [37]:
new_manh = manh.drop(['AWND', 'AWND_ATTRIBUTES', 'DAPR', 'DAPR_ATTRIBUTES', 'EVAP', 'EVAP_ATTRIBUTES', 'MDPR', 'MDPR_ATTRIBUTES',
                  'PGTM', 'PGTM_ATTRIBUTES', 'PSUN', 'PSUN_ATTRIBUTES', 'SNOW_ATTRIBUTES', 'SNWD',
                  'SNWD_ATTRIBUTES', 'TAVG', 'TAVG_ATTRIBUTES', 'TOBS', 'TOBS_ATTRIBUTES', 'TSUN',
                  'TSUN_ATTRIBUTES', 'WDF2', 'WDF2_ATTRIBUTES', 'WDF5', 'WDF5_ATTRIBUTES', 'WDMV','WDMV_ATTRIBUTES', 'WESD',
                  'WESD_ATTRIBUTES', 'WESF', 'WESF_ATTRIBUTES', 'WSF2', 'WSF2_ATTRIBUTES', 'WSF5',
                  'WSF5_ATTRIBUTES', 'WT01', 'WT01_ATTRIBUTES', 'WT02', 'WT02_ATTRIBUTES', 'WT03',
                  'WT03_ATTRIBUTES', 'WT04', 'WT04_ATTRIBUTES', 'WT05', 'WT05_ATTRIBUTES', 'WT06',
                  'WT06_ATTRIBUTES','WT07', 'WT07_ATTRIBUTES', 'WT08', 'WT08_ATTRIBUTES', 'WT09', 'WT09_ATTRIBUTES','WT10','WT10_ATTRIBUTES', 'WT11',
                  'WT11_ATTRIBUTES', 'WT13', 'WT13_ATTRIBUTES','WT16', 'WT16_ATTRIBUTES','WT17', 'WT17_ATTRIBUTES', 'WT18', 'WT18_ATTRIBUTES', 'WT19',
                  'WT19_ATTRIBUTES', 'WT22', 'WT22_ATTRIBUTES'], axis=1)

new_manh

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,US1KSPT0034,"MANHATTAN 4.2 ENE, KS US",39.203079,-96.514336,313.0,2016-10-06,0.00,",,N",,,,,
1,US1KSPT0034,"MANHATTAN 4.2 ENE, KS US",39.203079,-96.514336,313.0,2016-10-07,0.44,",,N",,,,,
2,US1KSPT0034,"MANHATTAN 4.2 ENE, KS US",39.203079,-96.514336,313.0,2016-10-08,0.00,",,N",,,,,
3,US1KSPT0034,"MANHATTAN 4.2 ENE, KS US",39.203079,-96.514336,313.0,2016-10-09,0.00,",,N",,,,,
4,US1KSPT0034,"MANHATTAN 4.2 ENE, KS US",39.203079,-96.514336,313.0,2016-10-10,0.15,",,N",,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65307,USW00053974,"MANHATTAN 6 SSW, KS US",39.102700,-96.609800,346.6,2023-04-08,0.00,",,R",,73,",,R",45,",,R"
65308,USW00053974,"MANHATTAN 6 SSW, KS US",39.102700,-96.609800,346.6,2023-04-09,0.00,",,R",,77,",,R",42,",,R"
65309,USW00053974,"MANHATTAN 6 SSW, KS US",39.102700,-96.609800,346.6,2023-04-10,0.00,",,R",,82,",,R",50,",,R"
65310,USW00053974,"MANHATTAN 6 SSW, KS US",39.102700,-96.609800,346.6,2023-04-11,0.00,",,R",,82,",,R",43,",,R"
65311,USW00053974,"MANHATTAN 6 SSW, KS US",39.102700,-96.609800,346.6,2023-04-12,0.00,",,R",,85,",,R",56,",,R"

In [38]:
new_manh['DATE']=pd.to_datetime(new_manh['DATE'])

In [39]:
Manhattan = pd.merge(df_Manhattan,new_manh,on='DATE',how='inner')
Manhattan

,Development Name,Borough,Account Name,Location,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,...,LATITUDE,LONGITUDE,ELEVATION,PRCP,PRCP_ATTRIBUTES,SNOW,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,REHAB PROGRAM (DOUGLASS REHABS),MANHATTAN,REHAB PROGRAM (DOUGLASS REHABS),BLD 01,FEDERAL,NY005013170P,CONSOLIDATED EDISON COMPANY OF NY,12141922,2023-01-01,2022-12-23,...,39.203079,-96.514336,313.0,0.00,",,N",0.0,,,,
1,REHAB PROGRAM (DOUGLASS REHABS),MANHATTAN,REHAB PROGRAM (DOUGLASS REHABS),BLD 01,FEDERAL,NY005013170P,CONSOLIDATED EDISON COMPANY OF NY,12141922,2023-01-01,2022-12-23,...,39.169733,-96.631547,384.4,,,,,,,
2,REHAB PROGRAM (DOUGLASS REHABS),MANHATTAN,REHAB PROGRAM (DOUGLASS REHABS),BLD 01,FEDERAL,NY005013170P,CONSOLIDATED EDISON COMPANY OF NY,12141922,2023-01-01,2022-12-23,...,39.180722,-96.583717,320.0,0.00,"T,,N",,,,,
3,REHAB PROGRAM (DOUGLASS REHABS),MANHATTAN,REHAB PROGRAM (DOUGLASS REHABS),BLD 01,FEDERAL,NY005013170P,CONSOLIDATED EDISON COMPANY OF NY,12141922,2023-01-01,2022-12-23,...,39.131389,-96.626389,315.2,0.00,"T,,N",,,,,
4,REHAB PROGRAM (DOUGLASS REHABS),MANHATTAN,REHAB PROGRAM (DOUGLASS REHABS),BLD 01,FEDERAL,NY005013170P,CONSOLIDATED EDISON COMPANY OF NY,12141922,2023-01-01,2022-12-23,...,39.214180,-96.370050,355.4,0.02,",,7,",0.2,36,",,7",20,",,7"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762664,AMSTERDAM AVENUE,MANHATTAN,AMSTERDAM AVENUE,BLD 01,FEDERAL,NY005010820P,HESS CORPORATION (905243) - 2,3232615,2014-01-01,2014-01-01,...,39.304747,-96.408144,345.6,0.00,",,N",0.0,,,,
762665,AMSTERDAM AVENUE,MANHATTAN,AMSTERDAM AVENUE,BLD 01,FEDERAL,NY005010820P,HESS CORPORATION (905243) - 2,3232615,2014-01-01,2014-01-01,...,39.209400,-96.616400,349.9,0.00,",,N",0.0,,,,
762666,AMSTERDAM AVENUE,MANHATTAN,AMSTERDAM AVENUE,BLD 01,FEDERAL,NY005010820P,HESS CORPORATION (905243) - 2,3232615,2014-01-01,2014-01-01,...,39.199264,-96.632949,345.9,0.00,",,N",0.0,,,,
762667,AMSTERDAM AVENUE,MANHATTAN,AMSTERDAM AVENUE,BLD 01,FEDERAL,NY005010820P,HESS CORPORATION (905243) - 2,3232615,2014-01-01,2014-01-01,...,39.207159,-96.337963,337.1,0.00,",,N",0.0,,,,
762668,AMSTERDAM AVENUE,MANHATTAN,AMSTERDAM AVENUE,BLD 01,FEDERAL,NY005010820P,HESS CORPORATION (905243) - 2,3232615,2014-01-01,2014-01-01,...,39.102700,-96.609800,346.6,0.00,",,R",,49,",,R",9,",,R"

In [40]:
Manhattan = Manhattan.rename(columns={'Development Name': 'Development_Name', 'Borough': 'Borough', 'Account Name': 'Account_Name',
 'Location': 'Location', 'Funding Source': 'Funding_Source', 'AMP #': 'AMP_Number', 'Vendor Name': 'Vendor_Name', 'UMIS BILL ID': 'UMIS_BILL_ID',
 'Revenue Month': 'Revenue_Month' , 'Service Start Date': 'Service_Start_Date', 'DATE': 'DATE', '# days':'Number_of_days', 'Meter Number': 'Meter_Number', 'Estimated': 'Estimated', 
 'Current Charges': 'Current_Charges', 'Rate Class': 'Rate_Class', 'Bill Analyzed': 'Bill_Analyzed', 'Consumption (Therms)': 'Consumption_Therms', 'ES Commodity': 'ES_Commodity',
 'Underlying Utility': 'Underlying_Utility', 'STATION': 'STATION', 'NAME': 'NAME', 'LATITUDE': 'LATITUDE', 'LONGITUDE': 'LONGITUDE', 'ELEVATION': 'ELEVATION', 'PRCP': 'PRCP', 'PRCP_ATTRIBUTES':'PRCP_ATTRIBUTES','SNOW': 'SNOW',
 'TMAX': 'TMAX', 'TMAX_ATTRIBUTES': 'TMAX_ATTRIBUTES', 'TMIN': 'TMIN', 'TMIN_ATTRIBUTES': 'TMIN_ATTRIBUTES'
})

Manhattan

,Development_Name,Borough,Account_Name,Location,Funding_Source,AMP_Number,Vendor_Name,UMIS_BILL_ID,Revenue_Month,Service_Start_Date,...,LATITUDE,LONGITUDE,ELEVATION,PRCP,PRCP_ATTRIBUTES,SNOW,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,REHAB PROGRAM (DOUGLASS REHABS),MANHATTAN,REHAB PROGRAM (DOUGLASS REHABS),BLD 01,FEDERAL,NY005013170P,CONSOLIDATED EDISON COMPANY OF NY,12141922,2023-01-01,2022-12-23,...,39.203079,-96.514336,313.0,0.00,",,N",0.0,,,,
1,REHAB PROGRAM (DOUGLASS REHABS),MANHATTAN,REHAB PROGRAM (DOUGLASS REHABS),BLD 01,FEDERAL,NY005013170P,CONSOLIDATED EDISON COMPANY OF NY,12141922,2023-01-01,2022-12-23,...,39.169733,-96.631547,384.4,,,,,,,
2,REHAB PROGRAM (DOUGLASS REHABS),MANHATTAN,REHAB PROGRAM (DOUGLASS REHABS),BLD 01,FEDERAL,NY005013170P,CONSOLIDATED EDISON COMPANY OF NY,12141922,2023-01-01,2022-12-23,...,39.180722,-96.583717,320.0,0.00,"T,,N",,,,,
3,REHAB PROGRAM (DOUGLASS REHABS),MANHATTAN,REHAB PROGRAM (DOUGLASS REHABS),BLD 01,FEDERAL,NY005013170P,CONSOLIDATED EDISON COMPANY OF NY,12141922,2023-01-01,2022-12-23,...,39.131389,-96.626389,315.2,0.00,"T,,N",,,,,
4,REHAB PROGRAM (DOUGLASS REHABS),MANHATTAN,REHAB PROGRAM (DOUGLASS REHABS),BLD 01,FEDERAL,NY005013170P,CONSOLIDATED EDISON COMPANY OF NY,12141922,2023-01-01,2022-12-23,...,39.214180,-96.370050,355.4,0.02,",,7,",0.2,36,",,7",20,",,7"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762664,AMSTERDAM AVENUE,MANHATTAN,AMSTERDAM AVENUE,BLD 01,FEDERAL,NY005010820P,HESS CORPORATION (905243) - 2,3232615,2014-01-01,2014-01-01,...,39.304747,-96.408144,345.6,0.00,",,N",0.0,,,,
762665,AMSTERDAM AVENUE,MANHATTAN,AMSTERDAM AVENUE,BLD 01,FEDERAL,NY005010820P,HESS CORPORATION (905243) - 2,3232615,2014-01-01,2014-01-01,...,39.209400,-96.616400,349.9,0.00,",,N",0.0,,,,
762666,AMSTERDAM AVENUE,MANHATTAN,AMSTERDAM AVENUE,BLD 01,FEDERAL,NY005010820P,HESS CORPORATION (905243) - 2,3232615,2014-01-01,2014-01-01,...,39.199264,-96.632949,345.9,0.00,",,N",0.0,,,,
762667,AMSTERDAM AVENUE,MANHATTAN,AMSTERDAM AVENUE,BLD 01,FEDERAL,NY005010820P,HESS CORPORATION (905243) - 2,3232615,2014-01-01,2014-01-01,...,39.207159,-96.337963,337.1,0.00,",,N",0.0,,,,
762668,AMSTERDAM AVENUE,MANHATTAN,AMSTERDAM AVENUE,BLD 01,FEDERAL,NY005010820P,HESS CORPORATION (905243) - 2,3232615,2014-01-01,2014-01-01,...,39.102700,-96.609800,346.6,0.00,",,R",,49,",,R",9,",,R"

In [41]:
Manhattan.to_csv('manhattan_merged.csv', index=False)

In [42]:
#Inserting the merged data of brooklyn into the database(ETL)
import csv
import pymysql
import time
import datetime
with open('manhattan_merged.csv',"r",encoding='Latin-1') as f:
    data = [{k: str(v) for k, v in row.items()}
        for row in csv.DictReader(f,skipinitialspace=True)]
#print(data[0].keys())
#print(len(data[0]))

conn = pymysql.connect(host='mysql.clarksonmsda.org', port=3306, user='ia626',
                        passwd='ia626clarkson', db='ia626', autocommit=True)
cur = conn.cursor(pymysql.cursors.DictCursor)

#Dropping the table if it exist
sql = '''DROP TABLE IF EXISTS `Heating_gas_manhattan`;'''
cur.execute(sql)

#Creating the table and normalizing the column names with appropriate field types
sql = '''CREATE TABLE IF NOT EXISTS `Heating_gas_manhattan` (
  `id` int(7) NOT NULL AUTO_INCREMENT,
  `Development_Name` varchar(50) NOT NULL,
  `Borough` varchar(50) NOT NULL,
  `Account_Name` varchar(50) NOT NULL,
  `Location` varchar(50) NOT NULL,
  `Funding_Source` varchar(50) NOT NULL,
  `AMP_Number` varchar(50) NOT NULL,
  `Vendor_Name` varchar(50) NOT NULL,
  `UMIS_BILL_ID` varchar(50) NOT NULL,
  `Revenue_Month` datetime NOT NULL,
  `Service_Start_Date` datetime NOT NULL,
  `Date` datetime NOT NULL,
  `Number_of_days` int(10) NOT NULL,
  `Meter_Number` varchar(50) NOT NULL,
  `Estimated` varchar(10) NOT NULL,
  `Current_Charges` decimal(18,12) NOT NULL,
  `Rate_Class` varchar(50) NOT NULL,
  `Bill_Analyzed` varchar(50) NOT NULL,
  `Consumption_Therms` decimal(18,12) NOT NULL,
  `ES_Commodity` varchar(50) NOT NULL,
  `Underlying_Utility` varchar(50) NOT NULL,
  `STATION` varchar(50) NOT NULL,
  `NAME` varchar(50) NOT NULL,
  `LATITUDE` decimal(18,12) NOT NULL,
  `LONGITUDE` decimal(18,12) NOT NULL,
  `ELEVATION` decimal(8,4) NOT NULL,
  `PRCP` decimal(18,12) NOT NULL,
  `PRCP_ATTRIBUTES` varchar(50) NOT NULL,
  `SNOW` decimal(18,12) NOT NULL,
  `TMAX` decimal(18,12) NOT NULL,
  `TMAX_ATTRIBUTES` varchar(50) NOT NULL,
  `TMIN` decimal(18,12) NOT NULL,
  `TMIN_ATTRIBUTES` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 AUTO_INCREMENT=1 ;'''
cur.execute(sql)

sql = '''INSERT INTO `Heating_gas_manhattan` (`Development_Name`, `Borough`, `Account_Name`,
 `Location`, `Funding_Source`, `AMP_Number`, `Vendor_Name`, `UMIS_BILL_ID`,
 `Revenue_Month`, `Service_Start_Date`, `DATE`, `Number_of_days`, `Meter_Number`, `Estimated`, 
 `Current_Charges`, `Rate_Class`, `Bill_Analyzed`, `Consumption_Therms`, `ES_Commodity`,
 `Underlying_Utility`, `STATION`, `NAME`, `LATITUDE`, `LONGITUDE`, `ELEVATION`, `PRCP`, `PRCP_ATTRIBUTES`, `SNOW`,
 `TMAX`, `TMAX_ATTRIBUTES`, `TMIN`, `TMIN_ATTRIBUTES`) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);'''

n=0
bs = 500
tokens=[]
for row in data:
  tokens.append([row['Development_Name'],row['Borough'],row['Account_Name'],row['Location'],
            row['Funding_Source'],row['AMP_Number'],row['Vendor_Name'],row['UMIS_BILL_ID'],
            row['Revenue_Month'],row['Service_Start_Date'],row['DATE'],row['Number_of_days'],
            row['Meter_Number'],row['Estimated'],row['Current_Charges'],row['Rate_Class'],
            row['Bill_Analyzed'],row['Consumption_Therms'],row['ES_Commodity'], row['Underlying_Utility'],
            row['STATION'],row['NAME'],row['LATITUDE'],row['LONGITUDE'],row['ELEVATION'],row['PRCP'],row['PRCP_ATTRIBUTES'],row['SNOW'],row['TMAX'],
            row['TMAX_ATTRIBUTES'],row['TMIN'],row['TMIN_ATTRIBUTES']])
    #print(tokens)
  if len(tokens) >= bs:
      cur.executemany(sql,tokens)
      conn.commit()
      tokens = []
  n+=1
if len(tokens) > 0:
    cur.executemany(sql,tokens)  #Uploading all rows into the sql
    conn.commit()

In [43]:
#Loading Manhattan data into Que and cleaning the data as there are double quotes all over the dataset
import pandas as pd
que = pd.read_csv('Queens.csv',low_memory=False)
que = que.replace('"', '', regex=True)
que.columns = que.columns.str.strip()
que

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,DAPR,DAPR_ATTRIBUTES,...,WT14,WT14_ATTRIBUTES,WT15,WT15_ATTRIBUTES,WT16,WT16_ATTRIBUTES,WT18,WT18_ATTRIBUTES,WT22,WT22_ATTRIBUTES
0,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",40.662099,-73.841345,2.1,2020-02-27,,,,,...,,,,,,,,,,NaN
1,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",40.662099,-73.841345,2.1,2020-02-28,,,,,...,,,,,,,,,,NaN
2,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",40.662099,-73.841345,2.1,2020-02-29,,,,,...,,,,,,,,,,NaN
3,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",40.662099,-73.841345,2.1,2020-03-01,,,,,...,,,,,,,,,,NaN
4,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",40.662099,-73.841345,2.1,2020-03-02,,,,,...,,,,,,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15007,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.639150,-73.763900,2.7,2023-04-09,9.84,",,W",,,...,,,,,,,,,,NaN
15008,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.639150,-73.763900,2.7,2023-04-10,11.63,",,W",,,...,,,,,,,,,,NaN
15009,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.639150,-73.763900,2.7,2023-04-11,14.32,",,W",,,...,,,,,,,,,,NaN
15010,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.639150,-73.763900,2.7,2023-04-12,12.97,",,W",,,...,,,,,,,,,,NaN
15011,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.639150,-73.763900,2.7,2023-04-13,11.18,",,W",,,...,,,,,,,,,,NaN

In [44]:
new_que = que.drop(['AWND', 'AWND_ATTRIBUTES', 'DAPR', 'DAPR_ATTRIBUTES', 'MDPR', 'MDPR_ATTRIBUTES',
                  'PGTM', 'PGTM_ATTRIBUTES', 'SNOW_ATTRIBUTES', 'SNWD',
                  'SNWD_ATTRIBUTES', 'TAVG', 'TAVG_ATTRIBUTES', 'WDF2', 'WDF2_ATTRIBUTES', 'WDF5', 'WDF5_ATTRIBUTES', 'WESD',
                  'WESD_ATTRIBUTES', 'WESF', 'WESF_ATTRIBUTES', 'WSF2', 'WSF2_ATTRIBUTES', 'WSF5',
                  'WSF5_ATTRIBUTES', 'WT01', 'WT01_ATTRIBUTES', 'WT02', 'WT02_ATTRIBUTES', 'WT03',
                  'WT03_ATTRIBUTES', 'WT04', 'WT04_ATTRIBUTES', 'WT05', 'WT05_ATTRIBUTES', 'WT06',
                  'WT06_ATTRIBUTES', 'WT08', 'WT08_ATTRIBUTES', 'WT09', 'WT09_ATTRIBUTES', 'WT13',
                  'WT13_ATTRIBUTES', 'WT14', 'WT14_ATTRIBUTES', 'WT15', 'WT15_ATTRIBUTES','WT16',
                  'WT16_ATTRIBUTES', 'WT18', 'WT18_ATTRIBUTES', 'WT22', 'WT22_ATTRIBUTES'], axis=1)

new_que

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",40.662099,-73.841345,2.1,2020-02-27,0.69,",,N",,,,,
1,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",40.662099,-73.841345,2.1,2020-02-28,0.00,",,N",,,,,
2,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",40.662099,-73.841345,2.1,2020-02-29,0.00,",,N",,,,,
3,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",40.662099,-73.841345,2.1,2020-03-01,0.00,",,N",,,,,
4,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",40.662099,-73.841345,2.1,2020-03-02,0.00,",,N",,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15007,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.639150,-73.763900,2.7,2023-04-09,0.00,",,W,2400",0.0,51,",,W",38,",,W"
15008,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.639150,-73.763900,2.7,2023-04-10,0.00,",,W,2400",0.0,58,",,W",38,",,W"
15009,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.639150,-73.763900,2.7,2023-04-11,0.00,",,W,2400",0.0,73,",,W",45,",,W"
15010,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.639150,-73.763900,2.7,2023-04-12,0.00,",,W,2400",0.0,84,",,W",56,",,W"
15011,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.639150,-73.763900,2.7,2023-04-13,0.00,",,W,2400",0.0,85,",,W",53,",,W"

In [45]:
new_que['DATE']=pd.to_datetime(new_que['DATE'])

In [46]:
Queens = pd.merge(df_Queens,new_que,on='DATE',how='inner')
Queens

,Development Name,Borough,Account Name,Location,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,...,LATITUDE,LONGITUDE,ELEVATION,PRCP,PRCP_ATTRIBUTES,SNOW,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,REHAB PROGRAM (COLLEGE POINT),QUEENS,REHAB PROGRAM (COLLEGE POINT),BLD 01,FEDERAL,NY005011860P,CONSOLIDATED EDISON COMPANY OF NY,12198334,2023-01-01,2022-12-23,...,40.662099,-73.841345,2.1,0.00,",,N",0.0,,,,
1,REHAB PROGRAM (COLLEGE POINT),QUEENS,REHAB PROGRAM (COLLEGE POINT),BLD 01,FEDERAL,NY005011860P,CONSOLIDATED EDISON COMPANY OF NY,12198334,2023-01-01,2022-12-23,...,40.779450,-73.880270,3.0,1.13,",,W,2400",0.0,55,",,W",35,",,W"
2,REHAB PROGRAM (COLLEGE POINT),QUEENS,REHAB PROGRAM (COLLEGE POINT),BLD 01,FEDERAL,NY005011860P,CONSOLIDATED EDISON COMPANY OF NY,12198334,2023-01-01,2022-12-23,...,40.758947,-73.728943,69.2,0.00,",,N",0.0,,,,
3,REHAB PROGRAM (COLLEGE POINT),QUEENS,REHAB PROGRAM (COLLEGE POINT),BLD 01,FEDERAL,NY005011860P,CONSOLIDATED EDISON COMPANY OF NY,12198334,2023-01-01,2022-12-23,...,40.639150,-73.763900,2.7,0.97,",,W,2400",0.0,52,",,W",31,",,W"
4,ASTORIA,QUEENS,ASTORIA,BLD 12,FEDERAL,NY005000260P,CONSOLIDATED EDISON COMPANY OF NY,12158078,2023-01-01,2022-12-23,...,40.662099,-73.841345,2.1,0.00,",,N",0.0,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32307,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),BLD 04,FEDERAL,NY005010980P,HESS CORPORATION (905243) - 2,3499689,2014-01-01,2013-12-26,...,40.779450,-73.880270,3.0,0.00,"T,,W,2400",0.0,18,",,W",7,",,W"
32308,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),BLD 04,FEDERAL,NY005010980P,HESS CORPORATION (905243) - 2,3499689,2014-01-01,2013-12-26,...,40.639150,-73.763900,2.7,0.01,",,W,2400",0.3,18,",,W",7,",,W"
32309,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),BLD 04,FEDERAL,NY005010980P,National Grid LI,3249740,2014-01-01,2013-12-26,...,40.714521,-73.881893,32.3,0.76,",,N",12.5,,,,
32310,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),BLD 04,FEDERAL,NY005010980P,National Grid LI,3249740,2014-01-01,2013-12-26,...,40.779450,-73.880270,3.0,0.00,"T,,W,2400",0.0,18,",,W",7,",,W"
32311,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),BLD 04,FEDERAL,NY005010980P,National Grid LI,3249740,2014-01-01,2013-12-26,...,40.639150,-73.763900,2.7,0.01,",,W,2400",0.3,18,",,W",7,",,W"

In [47]:
Queens = Queens.rename(columns={'Development Name': 'Development_Name', 'Borough': 'Borough', 'Account Name': 'Account_Name',
 'Location': 'Location', 'Funding Source': 'Funding_Source', 'AMP #': 'AMP_Number', 'Vendor Name': 'Vendor_Name', 'UMIS BILL ID': 'UMIS_BILL_ID',
 'Revenue Month': 'Revenue_Month' , 'Service Start Date': 'Service_Start_Date', 'DATE': 'DATE', '# days':'Number_of_days', 'Meter Number': 'Meter_Number', 'Estimated': 'Estimated', 
 'Current Charges': 'Current_Charges', 'Rate Class': 'Rate_Class', 'Bill Analyzed': 'Bill_Analyzed', 'Consumption (Therms)': 'Consumption_Therms', 'ES Commodity': 'ES_Commodity',
 'Underlying Utility': 'Underlying_Utility', 'STATION': 'STATION', 'NAME': 'NAME', 'LATITUDE': 'LATITUDE', 'LONGITUDE': 'LONGITUDE', 'ELEVATION': 'ELEVATION', 'PRCP': 'PRCP', 'PRCP_ATTRIBUTES':'PRCP_ATTRIBUTES','SNOW': 'SNOW',
 'TMAX': 'TMAX', 'TMAX_ATTRIBUTES': 'TMAX_ATTRIBUTES', 'TMIN': 'TMIN', 'TMIN_ATTRIBUTES': 'TMIN_ATTRIBUTES'
})

Queens

,Development_Name,Borough,Account_Name,Location,Funding_Source,AMP_Number,Vendor_Name,UMIS_BILL_ID,Revenue_Month,Service_Start_Date,...,LATITUDE,LONGITUDE,ELEVATION,PRCP,PRCP_ATTRIBUTES,SNOW,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,REHAB PROGRAM (COLLEGE POINT),QUEENS,REHAB PROGRAM (COLLEGE POINT),BLD 01,FEDERAL,NY005011860P,CONSOLIDATED EDISON COMPANY OF NY,12198334,2023-01-01,2022-12-23,...,40.662099,-73.841345,2.1,0.00,",,N",0.0,,,,
1,REHAB PROGRAM (COLLEGE POINT),QUEENS,REHAB PROGRAM (COLLEGE POINT),BLD 01,FEDERAL,NY005011860P,CONSOLIDATED EDISON COMPANY OF NY,12198334,2023-01-01,2022-12-23,...,40.779450,-73.880270,3.0,1.13,",,W,2400",0.0,55,",,W",35,",,W"
2,REHAB PROGRAM (COLLEGE POINT),QUEENS,REHAB PROGRAM (COLLEGE POINT),BLD 01,FEDERAL,NY005011860P,CONSOLIDATED EDISON COMPANY OF NY,12198334,2023-01-01,2022-12-23,...,40.758947,-73.728943,69.2,0.00,",,N",0.0,,,,
3,REHAB PROGRAM (COLLEGE POINT),QUEENS,REHAB PROGRAM (COLLEGE POINT),BLD 01,FEDERAL,NY005011860P,CONSOLIDATED EDISON COMPANY OF NY,12198334,2023-01-01,2022-12-23,...,40.639150,-73.763900,2.7,0.97,",,W,2400",0.0,52,",,W",31,",,W"
4,ASTORIA,QUEENS,ASTORIA,BLD 12,FEDERAL,NY005000260P,CONSOLIDATED EDISON COMPANY OF NY,12158078,2023-01-01,2022-12-23,...,40.662099,-73.841345,2.1,0.00,",,N",0.0,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32307,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),BLD 04,FEDERAL,NY005010980P,HESS CORPORATION (905243) - 2,3499689,2014-01-01,2013-12-26,...,40.779450,-73.880270,3.0,0.00,"T,,W,2400",0.0,18,",,W",7,",,W"
32308,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),BLD 04,FEDERAL,NY005010980P,HESS CORPORATION (905243) - 2,3499689,2014-01-01,2013-12-26,...,40.639150,-73.763900,2.7,0.01,",,W,2400",0.3,18,",,W",7,",,W"
32309,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),BLD 04,FEDERAL,NY005010980P,National Grid LI,3249740,2014-01-01,2013-12-26,...,40.714521,-73.881893,32.3,0.76,",,N",12.5,,,,
32310,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),BLD 04,FEDERAL,NY005010980P,National Grid LI,3249740,2014-01-01,2013-12-26,...,40.779450,-73.880270,3.0,0.00,"T,,W,2400",0.0,18,",,W",7,",,W"
32311,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),BLD 04,FEDERAL,NY005010980P,National Grid LI,3249740,2014-01-01,2013-12-26,...,40.639150,-73.763900,2.7,0.01,",,W,2400",0.3,18,",,W",7,",,W"

In [48]:
Queens.to_csv('queens_merged.csv', index=False)

In [50]:
#Inserting the merged data of brooklyn into the database(ETL)
import csv
import pymysql
import time
import datetime
with open('queens_merged.csv',"r",encoding='Latin-1') as f:
    data = [{k: str(v) for k, v in row.items()}
        for row in csv.DictReader(f,skipinitialspace=True)]
#print(data[0].keys())
#print(len(data[0]))

conn = pymysql.connect(host='mysql.clarksonmsda.org', port=3306, user='ia626',
                        passwd='ia626clarkson', db='ia626', autocommit=True)
cur = conn.cursor(pymysql.cursors.DictCursor)

#Dropping the table if it exist
sql = '''DROP TABLE IF EXISTS `Heating_gas_queens`;'''
cur.execute(sql)

#Creating the table and normalizing the column names with appropriate field types
sql = '''CREATE TABLE IF NOT EXISTS `Heating_gas_queens` (
  `id` int(7) NOT NULL AUTO_INCREMENT,
  `Development_Name` varchar(50) NOT NULL,
  `Borough` varchar(50) NOT NULL,
  `Account_Name` varchar(50) NOT NULL,
  `Location` varchar(50) NOT NULL,
  `Funding_Source` varchar(50) NOT NULL,
  `AMP_Number` varchar(50) NOT NULL,
  `Vendor_Name` varchar(50) NOT NULL,
  `UMIS_BILL_ID` varchar(50) NOT NULL,
  `Revenue_Month` datetime NOT NULL,
  `Service_Start_Date` datetime NOT NULL,
  `Date` datetime NOT NULL,
  `Number_of_days` int(10) NOT NULL,
  `Meter_Number` varchar(50) NOT NULL,
  `Estimated` varchar(10) NOT NULL,
  `Current_Charges` decimal(18,12) NOT NULL,
  `Rate_Class` varchar(50) NOT NULL,
  `Bill_Analyzed` varchar(50) NOT NULL,
  `Consumption_Therms` decimal(18,12) NOT NULL,
  `ES_Commodity` varchar(50) NOT NULL,
  `Underlying_Utility` varchar(50) NOT NULL,
  `STATION` varchar(50) NOT NULL,
  `NAME` varchar(50) NOT NULL,
  `LATITUDE` decimal(18,12) NOT NULL,
  `LONGITUDE` decimal(18,12) NOT NULL,
  `ELEVATION` decimal(8,4) NOT NULL,
  `PRCP` decimal(18,12) NOT NULL,
  `PRCP_ATTRIBUTES` varchar(50) NOT NULL,
  `SNOW` decimal(18,12) NOT NULL,
  `TMAX` decimal(18,12) NOT NULL,
  `TMAX_ATTRIBUTES` varchar(50) NOT NULL,
  `TMIN` decimal(18,12) NOT NULL,
  `TMIN_ATTRIBUTES` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 AUTO_INCREMENT=1 ;'''
cur.execute(sql)

sql = '''INSERT INTO `Heating_gas_queens` (`Development_Name`, `Borough`, `Account_Name`,
 `Location`, `Funding_Source`, `AMP_Number`, `Vendor_Name`, `UMIS_BILL_ID`,
 `Revenue_Month`, `Service_Start_Date`, `DATE`, `Number_of_days`, `Meter_Number`, `Estimated`, 
 `Current_Charges`, `Rate_Class`, `Bill_Analyzed`, `Consumption_Therms`, `ES_Commodity`,
 `Underlying_Utility`, `STATION`, `NAME`, `LATITUDE`, `LONGITUDE`, `ELEVATION`, `PRCP`, `PRCP_ATTRIBUTES`, `SNOW`,
 `TMAX`, `TMAX_ATTRIBUTES`, `TMIN`, `TMIN_ATTRIBUTES`) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);'''

n=0
bs = 500
tokens=[]
for row in data:
  tokens.append([row['Development_Name'],row['Borough'],row['Account_Name'],row['Location'],
            row['Funding_Source'],row['AMP_Number'],row['Vendor_Name'],row['UMIS_BILL_ID'],
            row['Revenue_Month'],row['Service_Start_Date'],row['DATE'],row['Number_of_days'],
            row['Meter_Number'],row['Estimated'],row['Current_Charges'],row['Rate_Class'],
            row['Bill_Analyzed'],row['Consumption_Therms'],row['ES_Commodity'], row['Underlying_Utility'],
            row['STATION'],row['NAME'],row['LATITUDE'],row['LONGITUDE'],row['ELEVATION'],row['PRCP'],row['PRCP_ATTRIBUTES'],row['SNOW'],row['TMAX'],
            row['TMAX_ATTRIBUTES'],row['TMIN'],row['TMIN_ATTRIBUTES']])
    #print(tokens)
  if len(tokens) >= bs:
      cur.executemany(sql,tokens)
      conn.commit()
      tokens = []
  n+=1
if len(tokens) > 0:
    cur.executemany(sql,tokens)  #Uploading all rows into the sql
    conn.commit()